{% extends "layout.html.twig" %}

{% block title %}{{ link.title }}{% endblock %}

{% block content %}
    <div id="content">
        <table>
            <thead>
                <th>Titre URL</th>
                <th>URL</th>
            </thead>
            <tbody>
                {% for link in links %}
                    <td>{{ link.title }}</td>
                    <td>{{ link.url }}</td>
                {% endfor %}
            </tbody>
        </table>
        {% for comment in comments %}
            <strong>{{ comment.title }}</strong> said : {{ comment.content }}<br />
        {% else %}
             Aucun commentaire.
        {% endfor %}

        <h3>Add a comment</h3>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Soon !
        {% else %}
            <a href="{{ path('login') }}">Se connecter</a> to add a comment.
        {% endif %}
    </div>

{% endblock %}

